<!DOCTYPE html>
include modules/gotoJs

html
    head
        meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
        link(rel='stylesheet', href='../../#{versions}/css/main.css', type='text/css' )
        script(type="text/javascript",src="../../#{versions}/js/base.js")
        script(type="text/javascript",src="../../#{versions}/js/modules/login.js",data-main="login")
    body(style="padding: 100px;")
        .container#login
            form.form-signin(action="../../loginController/login")
                h2 #{page.login.title}

                input.input-block-level(type="text",class="validate[required]",placeholder="#{page.login.userName}",name="loginName")
                input.input-block-level(type="password",class="validate[required]",placeholder="#{page.login.password}",name="password")
                label
                    select.input-block-level.language_select(name="language")
                        option(value="zh_CN") 中文
                        option(value="en") English
                        option(value="ja") 日本
                button.btn.btn-primary(type="submit") #{page.login.signin}
