<!DOCTYPE html>
include modules/gotoJs

html
    head
        meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
        link(rel='stylesheet', href='../../#{versions}/css/main.css', type='text/css' )
        script(type="text/javascript",src="../../#{versions}/js/base.js")
        script(type="text/javascript",src="../../#{versions}/js/modules/user.js",data-main="user")
    body
        .container#userTable
            include modules/topMenu
            table.table.table-bordered.datagrid
                thead
                    tr
                        th
                            span.datagrid-header-title #{page.userPage.userManagement}
                            .datagrid-header-right
                                .btn-group
                                    a.btn.search(href="#")
                                        i.icon-search
                                        span #{search}
                                    a.btn.dropdown-toggle(data-toggle="dropdown",href="#")
                                        span.caret
                                    ul.dropdown-menu
                                        li
                                            a.modify(href="#")
                                                i.icon-pencil
                                                span #{modify}
                                        li
                                            a.delete(href="#")
                                                i.icon-trash
                                                span #{remove}
                                        li.divider
                                        li
                                            a.add(href="#")
                                                i.icon-plus
                                                span #{add}
                tfoot
                    tr
                        th
                            .datagrid-footer-left
                                .grid-controls #{dataGridPagePugin[0]}
                                    span.grid-start.text-info
                                    span -
                                    span.grid-end.text-info
                                    span #{dataGridPagePugin[1]}
                                    span.grid-count.text-info
                                    span #{dataGridPagePugin[2]}
                                    select.grid-pagesize
                                        option 10
                                        option 20
                                        option 50
                                        option 100
                                    span #{dataGridPagePugin[3]}
                            .datagrid-footer-right
                                .grid-pager
                                    button.btn.grid-prevpage
                                        i.icon-chevron-left
                                    span #{dataGridPagePugin[4]}
                                    .input-append.dropdown.combobox(style="width: 97px;")
                                        input.span1(type="text")
                                        button.btn(data-toggle="dropdown")
                                            i.caret
                                        ul.dropdown-menu
                                    span #{dataGridPagePugin[5]}
                                        span.grid-pages
                                    span #{dataGridPagePugin[6]}
                                    button.btn.grid-nextpage
                                        i.icon-chevron-right

            .modal.hide.fade(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
                form.form-horizontal(method="GET")
                    .modal-header
                        button.close(type="button",data-dismiss="modal",aria-hidden="true")×
                        h4 #{search}
                    .modal-body
                        .control-group
                            label.control-label #{page.userPage.customerName}
                            .controls
                                input(type="text",name="customerName")
                        .control-group
                            label.control-label #{page.userPage.address}
                            .controls
                                input(type="text",name="address")
                        .control-group
                            label.control-label #{page.userPage.linkman}
                            .controls
                                input(type="text",name="linkman")
                        .control-group
                            label.control-label #{page.userPage.postCode}
                            .controls
                                input(type="text",name="postCode")
                        .control-group
                            label.control-label #{page.userPage.phone}
                            .controls
                                input(type="text",name="phone",class="validate[custom[phone]]")
                        .control-group
                            label.control-label #{page.userPage.email}
                            .controls
                                input(type="text",name="email",class="validate[custom[email]]")
                        .control-group
                            label.control-label #{page.userPage.cityName}
                            .controls
                                input(type="text",name="cityName")
                    .modal-footer
                        button.btn(data-dismiss="modal",aria-hidden="true") #{cancel}
                        button.btn.btn-primary(type="submit") #{search}

            .modal.hide.fade(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
                form.form-horizontal
                    .modal-header
                        button.close(type="button",data-dismiss="modal",aria-hidden="true")×
                        h4 #{manipulation}
                    .modal-body
                        .control-group
                            label.control-label #{page.userPage.customerName}
                            .controls
                                input(type="text",name="customerName",class="validate[required]")
                        .control-group
                            label.control-label #{page.userPage.address}
                            .controls
                                input(type="text",name="address",class="validate[required]")
                        .control-group
                            label.control-label #{page.userPage.linkman}
                            .controls
                                input(type="text",name="linkman",class="validate[required]")
                        .control-group
                            label.control-label #{page.userPage.postCode}
                            .controls
                                input(type="text",name="postCode",class="validate[required]")
                        .control-group
                            label.control-label #{page.userPage.phone}
                            .controls
                                input(type="text",name="phone",class="validate[required,custom[phone]]")
                        .control-group
                            label.control-label #{page.userPage.email}
                            .controls
                                input(type="text",name="email",class="validate[custom[email]]")
                        .control-group
                            label.control-label #{page.userPage.cityName}
                            .controls
                                input(type="text",name="cityName",class="validate[required]")
                        .control-group
                            label.control-label #{page.userPage.cityName}
                            .input-append.controls#daterangepicker
                                input(type="text")
                                span.add-on
                                    i.icon-calendar
                        .control-group
                            label.control-label #{page.userPage.cityName}
                            .input-append.controls#datetimepicker
                                input(type="text")
                                span.add-on
                                    i.icon-calendar
                        .control-group
                            label.control-label #{page.userPage.cityName}
                            .controls
                                input(type="file")#uploadify
                        .control-group
                            label.control-label #{page.userPage.cityName}
                            .controls
                                select#chosen
                                    option 测1试
                                    option 测试2
                    .modal-footer
                        button.btn(data-dismiss="modal",aria-hidden="true") #{cancel}
                        button.btn.btn-primary(type="submit") #{save}

